:{$PORT} {
	@afterglow path /afterglow /afterglow/*
	handle @afterglow {
		uri strip_prefix /afterglow
		reverse_proxy {$AFTERGLOW_UPSTREAM} {
			header_up Host {upstream_hostport}
		}
	}

	@ontherocks path /ontherocks /ontherocks/*
	handle @ontherocks {
		uri strip_prefix /ontherocks
		reverse_proxy {$ONTHEROCKS_UPSTREAM} {
			header_up Host {upstream_hostport}
		}
	}

	handle {
		reverse_proxy {$MAIN_UPSTREAM} {
			header_up Host {upstream_hostport}
		}
	}
}
